<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2ff42d4f-988c-4094-b215-eed1af8cb5f5" Publisher="CN=mauro" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Radical.Presentation.Samples</DisplayName>
    <PublisherDisplayName>mauro</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Radical.Presentation.Samples.App">
      <VisualElements DisplayName="Radical.Presentation.Samples" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Radical.Presentation.Samples" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>